<div data-component="about" class="container">
  <h1 id="aboutcomponentjs">About component.js</h1>
  <p>This is a mini framework to build in a modular way by allowing you to build components just like in frameworks such as Vuejs, angular js and react. </p>
  <h1 id="whychoosethisframework">Why choose this framework?</h1>
  <p>This is not like other frameworks, you can bolt this framework on to existing projects and is designed to be a small footprint for projects with limited file sizes or projects which want to small I size as possible.</p>
  <p>The concept was created when there was a project that had a 150kb file size and there was a need for a component based architecture. This allows you to take control over what you feel is necessary for the project as <strong>component.js</strong> only provides the bare minimum needed for building modular. </p>
  <p>There is a router and boilerplate which adds the basics for a full featured development process. Using this you can rapidly build projects.</p>
  <h1 id="whatsdifferentaboutthisframework">What's different about this framework?</h1>
  <p>Apart from its file size it works with static html. It doesn't render the html at run time but works with precompiled html. You use data attributes to bind the html template to the component instance. You can create your own libraries and tools to make it suit your needs. It's also much better for **SEO** since it works with precompiled html.</p>
  <h1>What projects is the idea for?</h1>
  <p>This framework is designed for small to large scale projects. Some examples of projects that this framework is suitable for is listed below:</p>
  <ul>
  	<li>SEO friendly sites</li>
  	<li>Backend (like sitecore) based sites using a modular frontend</li>
  	<li>Banner development</li>
  </ul>
</div>