<div data-component="home">
    <div data-component="logo"><img src="assets/image/logo.png" /></div>
    <div data-component="features">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <h4>Small Footprint</h4>
                        <p>Component.js is only <strong>1 - 6kb</strong> in file size. This framework is modular allowing to add many other plugins on top of it like a router. This together with es5 support, the file size is only <strong>9kb</strong>!</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h4>Natural</h4>
                        <p>This framework is designed similar to Vuejs so if you've used Vuejs you will be familiar with this.
                            <br />It focuses on SOC (separation of concern), HTML templates are in HTML, JS is within a JS file and Sass is used for css.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h4>Modular</h4>
                        <p>The concept of this framework is to keep things minimal and needs plays well with others. You can bolt on other libraries to add more features</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h4>Fast</h4>
                        <p>Using the create task, you can instantly generate a component. All the files are created with the correct structure and base code.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <h4>SEO Friendly</h4>
                        <p>Most frameworks render the content at runtime but componet.js works with rendered HTML so it's better for SEO!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>