[data-component="footer"] {
    background: #f6f6f6;
    padding: 20px;
    width: 100%;
    min-height: 50px;
    text-align: center;
    p {
        margin-bottom: 0;
        font-size: 0.8em;
    }
}