<div data-component="features">
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <h4>Small Footprint</h4>
                    <p>Component.js is <strong>1 - 6kb</strong> in file size on it's own. Since this framework is modular if you add the router and have es5 support then the file size is only <strong>9kb</strong>!</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h4>Natural</h4>
                    <p>This framework is designed similar to Vuejs so if you've used Vuejs you will be familar with this.<br>It focuses on SOC (separation of concern), HTML templates are in HTML, JS is within a JS file and Sass is used for css.</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h4>Modular</h4>
                    <p>The concept of this framwork is to keep this minimal and it plays well with others. You can bolt on other libraries to add more features</p>
                </div>
            </div>
        </div>
    </div>
</div>